{% extends "base.html" %}
{% block title %}Edit post{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="{% url tinymce-js-lang "English","EN" %}"></script>
{% include "posts/post_validation.html" %}
{% endblock %}

{% block content %}
{% if post_type == "News" %}
  {% include "posts/new_post_form.html" %}
{% endif %}
{% if post_type == "Question" %}
  {% include "posts/new_question_form.html" %}
{% endif %}

{% endblock %}

{% block search %}
{% endblock %}
