<div class="block">
  <div class="border_block left"> </div>
  <div class="left padding5 width100">
    <div class="big22 left"><a class="question_expand_button pointer">{% if post %} Edit {% else %}Add{% endif %} Question</a></div>
    <div class="big14 right" style="margin-top:5px; padding-right:10px;"><div id="id_question_expand" class="left question_expand_button" style="cursor:pointer;">Click here to expand <img alt="Arrow down" src='{{ STATIC_URL }}img/icons/arrow_down.png' /></div>
    </div>
  </div>

  
  <div id="id_question_form_div" style="{% if not qform.errors %}{% if post %}{% else %}display:none;{% endif %}{% endif %} float:left; width:100%">
    <div class="border_block left"> </div>
    <div class="left padding5 width100">

      {% if qform.errors %}
      <!--<div class="error">Error occured</div>-->
      {% endif %}

      <form action="/posts/edit/{% if post %}{{ post.id }}/{% endif %}" method="post" id="id_post_form">{% csrf_token %}
	  {{ qform.qprofile }}
	  {{ qform.qpost_type }}

	<div class="left error">{{ qform.qprofile.errors }}</div>
	<div id="id_title_error" style="display:none; color:red;"></div>
	<div class="left width100 padding5">
	  <div class="left big18">Question:</div>
	  <div class="right" style="padding-right:20px;">{{ qform.qtitle }}</div>
	</div>
	<div class="left error">{{ qform.qtitle.errors }}</div>
	  
	<div class="left width100 padding5">
	  {{ qform.qtext }}
	</div>
	<div class="left error">{{ qform.qtext.errors }}</div>

	<div class="left width100 padding5">
  	  <div class="left big18">Tags:</div>
	  <div class="left error">{{ qform.qtags.errors }}</div>
	  <div class="right" style="padding-right:20px;">{{ qform.qtags }}</div>
	</div>
	<div class="post_btn_field">
	  <div class="left padding5 width100" style="text-align:center;"><input type ="submit" value= " Post " class="post_btn find_btn" style="width:200px;" /></div>
	</div>
    

      </form>
    </div>
  </div>
</div>
