\#*#
data/*
build/*
*~
*.pem
*.pyc
*.pyo
*.swp
*.swo
settings_local.py
site_media/uploads/*
var/*
media/site_media/documents/*
.*
log.txt
tmp/*
local_settings.py
local_bot_settings.py
.svn
libs/
*.orig
site_media/map/*
*.log
parserefs/data/*
sitemap/
media/