lxml
psycopg2==2.4.1
django==1.3.1
stemming
django_extensions
django-sphinx
django-tinymce
django-piston
python2.7
PIL
feedparser
oauth2
flup
stemming
eautifulSoup
https://github.com/apresta/tagger
simplejson
oauth
http://python-bitly.googlecode.com/svn/trunk/
