lxml
psycopg2
django
stemming
django_extensions
django-sphinx
django-tinymce
django-piston
#python2.7
PIL
feedparser
oauth2
flup
BeautifulSoup
-e git+https://github.com/pi11/tagger#egg=tagger
simplejson
oauth
hg+https://bitbucket.org/pi11/python-linkedin#egg=linkedin
#http://python-bitly.googlecode.com/svn/trunk/
pyquery
colorama
