source uslaw_wdeterminations
{
        type                                    = pgsql
        sql_host                                = localhost
        sql_user                                = uslaw
        sql_pass                                = uslaw123
        sql_db                                  = uslaw
        sql_port                                =       # optional, default is 3306                                   
        sql_query                               = SELECT id, (select id from django_content_type where model='writtendetermination' and app_label='laws') as content_type, title, uilc as description, product_number as add_field, (select text from laws_textstore where id = store_id) as text, EXTRACT( epoch FROM external_publication_date) as ext_date, last_update FROM laws_writtendetermination;
        #sql_attr_uint                  = group_id                                                                    
        sql_attr_bigint                = ext_date
        sql_attr_timestamp             = last_update
        sql_attr_bigint                = content_type
}

index uslaw_wdeterminations
{
        source                  = uslaw_wdeterminations
        path                    = /var/lib/sphinxsearch/data/uslaw_wdeterminations
        docinfo                 = extern
        mlock                   = 0
        morphology              = stem_en
        min_word_len            = 1
        charset_type            = utf-8
        html_strip              = 1
}

source uslaw_iletters
{
        type                                    = pgsql
        sql_host                                = localhost
        sql_user                                = uslaw
        sql_pass                                = uslaw123
        sql_db                                  = uslaw
        sql_port                                =       # optional, default is 3306                                   
        sql_query                               = SELECT id, (select id from django_content_type where model='informationletter' and app_label='laws') as content_type, title, uilc as description, product_number as add_field, text, EXTRACT( epoch FROM external_publication_date)  as ext_date, last_update FROM laws_informationletter;
        #sql_attr_uint                  = group_id                                                                    
        sql_attr_bigint             = ext_date
        sql_attr_timestamp             = last_update
        sql_attr_bigint                = content_type
}

index uslaw_iletters
{
        source                  = uslaw_iletters
        path                    = /var/lib/sphinxsearch/data/uslaw_iletters
        docinfo                 = extern
        mlock                   = 0
        morphology              = stem_en
        min_word_len            = 1
        charset_type            = utf-8
        html_strip              = 1
}

source uslaw_decision
{
        type                                    = pgsql
        sql_host                                = localhost
        sql_user                                = uslaw
        sql_pass                                = uslaw123
        sql_db                                  = uslaw
        sql_port                                =       # optional, default is 3306                                   
        sql_query                               = SELECT id, (select id from django_content_type where model='decision' and app_label='laws') as content_type, title, description, product_number as add_field, text, EXTRACT( epoch FROM external_publication_date) as ext_date, last_update FROM laws_decision;
        #sql_attr_uint                  = group_id                                                                    
        sql_attr_bigint             = ext_date
        sql_attr_timestamp             = last_update
        sql_attr_bigint                = content_type
}

index uslaw_decision
{
        source                  = uslaw_decision
        path                    = /var/lib/sphinxsearch/data/uslaw_decision
        docinfo                 = extern
        mlock                   = 0
        morphology              = stem_en
        min_word_len            = 1
        charset_type            = utf-8
        html_strip              = 1
}


source uslaw_publications
{
        type                                    = pgsql
        sql_host                                = localhost
        sql_user                                = uslaw
        sql_pass                                = uslaw123
        sql_db                                  = uslaw
        sql_port                                =       # optional, default is 3306    
	
        sql_query                               = SELECT id, (select id from django_content_type where name='publication' and app_label='laws') as content_type, title, '' as description, product_number as add_field, (select text from laws_textstore where id = store_id) as text, EXTRACT( epoch FROM external_publication_date) as ext_date, last_update FROM laws_publication;
                               

	sql_attr_bigint             = ext_date
	sql_attr_timestamp             = last_update
        sql_attr_bigint                = content_type
}

index uslaw_publications
{
        source                  = uslaw_publications
        path                    = /var/lib/sphinxsearch/data/uslaw_publications
        docinfo                 = extern
        mlock                   = 0
        morphology              = stem_en
        min_word_len            = 1
        charset_type            = utf-8
        html_strip              = 1
}


source uslaw_popular_name
{
	type					= pgsql
	sql_host				= localhost
	sql_user				= uslaw
	sql_pass				= uslaw123
	sql_db					= uslaw
	sql_port				= 	# optional, default is 3306

        sql_query                               = SELECT id, (select id from django_content_type where model='namedstatute' and app_label='laws') as content_type, title, description, '' as add_field, '' as text, 0 as ext_date, NULL as last_update FROM laws_namedstatute;
	sql_attr_bigint             = ext_date
	sql_attr_timestamp             = last_update
        sql_attr_bigint                = content_type

}

index uslaw_popular_name
{
	source			= uslaw_popular_name
	path			= /var/lib/sphinxsearch/data/uslaw_popular_name
	docinfo			= extern
	mlock			= 0
	morphology		= stem_en
	min_word_len		= 1
	charset_type		= utf-8
	html_strip				= 1
}


source uslaw_title
{
	type					= pgsql
	sql_host				= localhost
	sql_user				= uslaw
	sql_pass				= uslaw123
	sql_db					= uslaw
	sql_port				= 	# optional, default is 3306
        sql_query                               = SELECT id, (select id from django_content_type where model='title' and app_label='laws') as content_type, title, name as description, '' as add_field, '' as text, EXTRACT( epoch FROM (select current_through from laws_section where title_id=a.id limit 1)) as ext_date, NULL as last_update FROM laws_title a;
	sql_attr_bigint             = ext_date
	sql_attr_timestamp             = last_update
        sql_attr_bigint                = content_type

}

index uslaw_title
{
	source			= uslaw_title
	path			= /var/lib/sphinxsearch/data/uslaw_title
	docinfo			= extern
	mlock			= 0
	morphology		= stem_en
	min_word_len		= 1
	charset_type		= utf-8
	html_strip				= 1
}

source uslaw_forms
{
	type					= pgsql
	sql_host				= localhost
	sql_user				= uslaw
	sql_pass				= uslaw123
	sql_db					= uslaw
	sql_port				= 	# optional, default is 3306
        sql_query                               = SELECT id, (select id from django_content_type where model='formandinstruction' and app_label='laws') as content_type, title, '' as description, '' as add_field, text, EXTRACT( epoch FROM external_publication_date) as ext_date, last_update FROM laws_formandinstruction;
	sql_attr_bigint             = ext_date
	sql_attr_timestamp             = last_update
        sql_attr_bigint                = content_type
}
index uslaw_forms
{
	source			= uslaw_forms
	path			= /var/lib/sphinxsearch/data/uslaw_forms
	docinfo			= extern
	mlock			= 0
	morphology		= stem_en
	min_word_len		= 1
	charset_type		= utf-8
	html_strip				= 1
}



source uslaw_section
{
	type					= pgsql
	sql_host				= localhost
	sql_user				= uslaw
	sql_pass				= uslaw123
	sql_db					= uslaw
	sql_port				= 	# optional, default is 3306
        sql_query                               = SELECT id, (select id from django_content_type where model='section' and app_label='laws') as content_type, section as title, header as description, '' as add_field, section_text as text, EXTRACT( epoch FROM current_through) as ext_date, last_update FROM laws_section;
	sql_attr_bigint                = ext_date
	sql_attr_timestamp             = last_update
        sql_attr_bigint                = content_type

}

index uslaw_section
{
	source			= uslaw_section
	path			= /var/lib/sphinxsearch/data/uslaw_section
	docinfo			= extern
	mlock			= 0
	morphology		= stem_en
	min_word_len		= 1
	charset_type		= utf-8
	html_strip				= 1
}


source regulations
{
	type					= pgsql

	sql_host				= localhost
	sql_user				= uslaw
	sql_pass				= uslaw123
	sql_db					= uslaw
	sql_port				= 	# optional, default is 3306

        sql_query                               = SELECT id, (select id from django_content_type where model='regulation' and app_label='laws') as content_type, title, '' as description, '' as add_field, text, EXTRACT( epoch FROM current_through) as ext_date, last_update FROM laws_regulation;
	sql_attr_bigint             = ext_date
	sql_attr_timestamp             = last_update
        sql_attr_bigint                = content_type
}

index regulations
{
	source			= regulations

	path			= /var/lib/sphinxsearch/data/regulations

	docinfo			= extern
	mlock			= 0
	morphology		= stem_en
	min_word_len		= 1

	# charset encoding type
	# optional, default is 'sbcs'
	# known types are 'sbcs' (Single Byte CharSet) and 'utf-8'
	charset_type		= utf-8
	html_strip				= 1
}


source irsruling
{
	type					= pgsql

	sql_host				= localhost
	sql_user				= uslaw
	sql_pass				= uslaw123
	sql_db					= uslaw
	sql_port				= 	# optional, default is 3306

        sql_query                               = SELECT id, (select id from django_content_type where model='irsrevenuerulings' and app_label='laws') as content_type, title, '' as description, '' as add_field, text, EXTRACT( epoch FROM current_through) as ext_date, last_update FROM laws_irsrevenuerulings;
	sql_attr_bigint             = ext_date
	sql_attr_timestamp             = last_update
        sql_attr_bigint                = content_type
}

index irsruling
{
	source			= irsruling
	path			= /var/lib/sphinxsearch/data/irsrulings
	docinfo			= extern
	mlock			= 0
	morphology		= stem_en
	min_word_len		= 1

	# charset encoding type
	# optional, default is 'sbcs'
	# known types are 'sbcs' (Single Byte CharSet) and 'utf-8'
	charset_type		= utf-8
	html_strip				= 1
}


source comment
{
	type					= pgsql

	sql_host				= localhost
	sql_user				= uslaw
	sql_pass				= uslaw123
	sql_db					= uslaw
	sql_port				= 	# optional, default is 3306

        sql_query                               = SELECT id, (select id from django_content_type where model='comment' and app_label='comment') as content_type, '' as title, '' as description, '' as add_field, text, EXTRACT( epoch FROM publication_date) as ext_date, publication_date as last_update FROM comment_comment;
	sql_attr_bitint                = ext_date
	sql_attr_timestamp             = last_update
        sql_attr_bigint                = content_type
}

index comment
{
	source			= comment
	path			= /var/lib/sphinxsearch/data/comment
	docinfo			= extern
	mlock			= 0
	morphology		= stem_en
	min_word_len		= 1
	# charset encoding type
	# optional, default is 'sbcs'
	# known types are 'sbcs' (Single Byte CharSet) and 'utf-8'
	charset_type		= utf-8
	html_strip				= 1
}

source post
{
	type					= pgsql

	sql_host				= localhost
	sql_user				= uslaw
	sql_pass				= uslaw123
	sql_db					= uslaw
	sql_port				= 	# optional, default is 3306
        sql_query                               = SELECT id, (select id from django_content_type where model='post' and app_label='post') as content_type, '' as title, '' as description, '' as add_field, text, EXTRACT( epoch FROM publication_date) as ext_date, publication_date as last_update FROM comment_comment;
	sql_attr_bigint             = ext_date
	sql_attr_timestamp             = last_update
        sql_attr_bigint                = content_type
}

index post
{
	source			= post
	path			= /var/lib/sphinxsearch/data/post
	docinfo			= extern
	mlock			= 0
	morphology		= stem_en
	min_word_len		= 1
	# charset encoding type
	# optional, default is 'sbcs'
	# known types are 'sbcs' (Single Byte CharSet) and 'utf-8'
	charset_type		= utf-8
	html_strip				= 1
}

