<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head> 
    <title>{% block title %}Tax26{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/builded.css?id=5" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/builded.js"></script>
    <link href="{{ STATIC_URL }}img/favicon.png" rel='shortcut icon' /> 
    {% include "home_js.html" %}
    {% block extrahead %}
    {% endblock %}
    <style>
<!--[if IE]>
#menu {
    top:80px;
    margin-top:40px;
    background-color: gray;
}
<![EndIf]-->
    </style>
  </head>
  <body>

    <div id="main">
      <div id="container">
	{% include "menu.html" %}
	<div id="iehackdiv"></div>
	{% block header %}
	{% include "header.html" %}
	{% endblock %}
<!-- -->
	<div id="content">
	  <div class="left_panel">
	    {% block content %}
	    {% endblock %}	    
	  </div>
	  <div class="right_panel">
	    {% block right_panel %}
	    {% include "misc/panel.html" %}
	    {% endblock %}
	    {% block right_panel_add  %}
	    {% endblock %}
	  </div>
	</div>
	{% block footer %}
	{% include "footer.html" %}
	{% include "reformal.html" %}
	{% endblock %}

      </div>
    </div>
  </body>
</html>
