<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>{% block title %}TAX26{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css?id=2" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css' />
    <link  href="//fonts.googleapis.com/css?family=Cantarell:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}img/favicon.png" rel='shortcut icon'/> 
    <link href="{{ STATIC_URL }}img/favicon.png" rel='icon'/> 
  </head>
  <body>
    {% block content %}

    {% endblock %}	    
  </body>
</html>
