	<div id="footer">
	  <div id="footer_copy" class="big18">&copy; 2013 <a class="big18" target="_blank" href="http://www.tabulaw.com/">Tabulaw, Inc.</a>
	  </div>
	  <div id="footer_about"><a class="big18" href="/about/">About</a></div>
	  <div class="width100 left" style="font-size:9px;">
	    Links: &nbsp;&nbsp;&nbsp;
	    <a href="{% url 'news' %}" style="font-size:9px;">News</a> | 
	    <a href="{% url 'laws_search' %}" style="font-size:9px;">Search</a> | 
	    <a href="{% url 'laws_index' %}" style="font-size:9px;">U.S. Code</a> | 
	    <a href="{% url 'regulations' %}" style="font-size:9px;">Regulations</a> | 
	    <a href="{% url 'irsrulings' %}" style="font-size:9px;">IRS Rullings</a> | 
	    <a href="{% url 'written_determinations' %}" style="font-size:9px;">Written Determinations</a> |
	    <a href="{% url 'formsandinstructions' %}" style="font-size:9px;">Forms And Instructions</a> |
	    <a href="{% url 'publications' %}" style="font-size:9px;">Publications</a> |
	    <a href="{% url 'decisions' %}" style="font-size:9px;">Actions on Decisions</a> |
            <a href="{% url 'irm_toc' %}" style="font-size:9px;">Internal Revenue Manual</a> |
	    <a href="{% url 'api_docs' %}" style="font-size:9px;">API</a> |
	    <a href="/demos/" style="font-size:9px;">Demos</a> |
	    <a href="/accessibility/" style="font-size:9px;">Accessibility (Section 508)</a> |

	  </div>
	</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10416851-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

