	<div id="menu" style="position:absolute;">
	  {% block menu2 %}
	  {% endblock %}
	  {% block menu %}

	  {% if user.is_authenticated %}<div class="menu_item{% if active_section == 'home' %} active{% endif %}" style="float:left;">&nbsp;&nbsp;&nbsp;&nbsp;<a href="/users/home/">Home</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="/whatsnew/">What's New</a></div>
          {% else %}
	  <div class="menu_item{% if active_section == 'home' %} active{% endif %}" style="float:left;">&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="/whatsnew/">What's New</a></div>
          {% endif %}
	  <div class="menu_item" id="id_page_help" style="display:none;"><img src="{{ STATIC_URL }}img/help.png" alt="?" /></div>

	  <div class="menu_item" onmouseover="$('#settings_menu').show();" onmouseout="$('#settings_menu').hide();">
	    <a class="pointer"><img src="{{ STATIC_URL }}img/options.png" width="18px;" alt="Options" /></a>
	    <div id="settings_menu">
	      <div class="dropmenu">
		<div id="tools_tax_map" class="pointer panel_item width150" onclick="location.href='{% url 'tax_map' %}';">
		  <a href="{% url 'tax_map' %}" class="menu_link">Tax Map</a>
		</div>
		<div id="tools_most_referenced" class="pointer panel_item width150" onclick="location.href='/laws/most_referenced/?sort=true';">
		  <a href="{% url 'most_referenced' %}?sort=true" class="menu_link">Statutes Cloud</a>
		</div>
  
		{% if user.is_authenticated %}
		<div id="id_mydocuments" class="pointer panel_item width150" onclick="$('#user_panel').toggle();">
		  <a class="menu_link">My documents</a>
		</div>
		{% endif %}
		{% if section %}
		<div id="id_print" class="pointer panel_item width150">
		  <a target="_blank" href="{{ section.get_print_url }}">Print</a>
		</div>
		{% endif %}
	      </div>
	    </div>
	  </div>	

	  <div id="user_panel">
	    {% include "search/user_documents.html" %}
	  </div>
   

	  <div class="menu_item" {% if active_section == 'profile' %} active{% endif %} onmouseover="$('#profile_menu').show();" onmouseout="$('#profile_menu').hide();">
	    <a class="pointer">Profile</a>
	    <div id="profile_menu">
	      <div class="dropmenu">
		{% if user.is_authenticated %}
		{% if profile.user.username != 'Anonymous' %}
		<div id="profile_view" class="pointer panel_item width150" onclick="location.href='{% if profile %}{{ profile.get_absolute_url }}{% else %}/users/profile/{% endif %}';">
		  <a href="{% if profile %}{{ profile.get_absolute_url }}{% else %}/users/profile/{% endif %}">View</a>
		</div>
		<div id="profile_change" class="pointer panel_item width150" onclick="location.href='/users/settings/';">
		  <a href="/users/settings/">Change</a>
		</div>
		<div id="profile_signout" class="pointer panel_item width150" onclick="location.href='/users/logout/';">
		  <a href="/users/logout/">Sign Out</a>
		</div>
		{% else %}
		<div id="profile_signout" class="pointer panel_item width150">
		  <a href="{% url 'login' %}">Please sign in to use this feature.</a>
		</div>
		{% endif %}
		{% endif %}
	      </div>
	    </div>
	  </div>	

	  <div class="menu_item{% if active_section == 'browse' %} active{% endif %}" onmouseout="$('#browse_menu').hide();" onmouseover="$('#browse_menu').show();"><a class="pointer">Browse</a>
	    <div id="browse_menu">
	      <div class="dropmenu">
		<div id="browse_statutes" class="pointer panel_item width150">
		  <a href="{% url 'laws_title_redirect' 26 %}" class="menu_link">Statutes</a>
		</div>
		<div id="browse_regulations" class="pointer panel_item width150">
		  <a href="{% url 'regulations' %}">Regulations</a>
		</div>
		<div id="browse_revenue" class="pointer panel_item width150">
		  <a href="{% url 'irsrulings' %}" class="menu_link">IRS&nbsp;Revenue&nbsp;Rulings</a>
		</div>
		<div id="browse_letters" class="pointer panel_item width150">
		  <a href="{% url 'written_determinations' %}" class="menu_link">Written Determinations</a>
		</div>
		<div id="browse_forms" class="pointer panel_item width150">
		  <a href="{% url 'formsandinstructions' %}" class="menu_link">Forms And Instructions</a>
		</div>
		<div id="browse_publications" class="pointer panel_item width150">
		  <a href="{% url 'publications' %}" class="menu_link">Publications</a>
		</div>
		<div id="browse_aod" class="pointer panel_item width150">
		  <a href="{% url 'decisions' %}" class="menu_link">Actions on Decisions</a>
		</div>
		<div id="browse_iletters" class="pointer panel_item width150">
		  <a href="{% url 'iletters' %}" class="menu_link">Information Letters</a>
		</div>
		<div id="browse_irm" class="pointer panel_item width150">
		  <a href="{% url 'irm_toc' %}" class="menu_link">Internal Revenue Manual</a>
		</div>
	      </div>
	    </div>
	  </div> 
	  <div class="menu_item{% if active_section == 'search' %} active{% endif %}"><a href="{% url 'laws_search' %}">Search</a></div>  
	  {% endblock %} 
	</div>
