<div class="paginator">
<!--<div class="title">  Page {{ page_id }} of {{ paginator.num_pages }}</div> -->
  <div class="pagenav" >
    {% if page.has_previous  %}
    <div class="pageno">
      <a href="?p={{ page.previous_page_number }}">&laquo; Prev</a> &nbsp;
    </div>
    {% endif %}
    {% if page.has_other_pages %}
    {% for p in page_range %} 
    {% ifequal page_id p %}
    <div class="pageno current_page">
      {{ p }}
    </div>
    {% else %}
    <div class="pageno">
      <a href="?p={{ p }}">{{ p }}</a>
    </div>
    {% endifequal %}
    {% endfor %}
    {% endif %}
    {% if page.has_next %}
    <div class="pageno">
        <a href="?p={{ page.next_page_number }}">Next&nbsp;&raquo;</a>
    </div>
    {% endif %}
  </div>
<div class="paginator_info">[Total <b>{{ paginator.count }}</b> results found, Page {{ page_id }} of {{ paginator.num_pages }} pages]</div>
</div>
