<script type="text/javascript"><!--
reformal_wdg_domain    = "tax26";
reformal_wdg_mode    = 0;
reformal_wdg_title   = "Tax Law";
reformal_wdg_ltitle  = "Feedback ";
reformal_wdg_lfont   = "";
reformal_wdg_lsize   = "";
reformal_wdg_color   = "#C3D4D4";
reformal_wdg_bcolor  = "#516683";
reformal_wdg_tcolor  = "#FFFFFF";
reformal_wdg_align   = "right";
reformal_wdg_waction = 0;
reformal_wdg_vcolor  = "#1FCE54";
reformal_wdg_cmline  = "#E0E0E0";
reformal_wdg_glcolor  = "#105895"
reformal_wdg_tbcolor  = "#FFFFFF"
 
reformal_wdg_bimage = "bea4c2c8eb82d05891ddd71584881b56.png";
 //-->
</script>

<script type="text/javascript" language="JavaScript" src="{{ STATIC_URL }}js/tab6.js"></script><noscript><a href="http://tax26.idea.informer.com">Tax26.com </a> <a href="http://idea.informer.com"><img src="http://widget.idea.informer.com/tmpl/images/widget_logo.jpg" alt="Infromer Logo" /></a></noscript>
