.SECTNO{
    font-size:18px;
    font-weight:bold;
    float:left;
    padding:5px;
}
.SUBJECT {
    font-size:18px;
    padding:5px;
    float:left;
    width:100%;        
}

.CITA {
    color:gray;
    padding-left:20px;
    float:left;
    width:100%;
}
.E {

}
.HD {
    font-size:16px;
    float:left;
    width:100%;
}
.EXAMPLE{
    padding-left:16px;
    float:left;
    width:100%;
}
/* CSS for regulations */
.ROW {
 width:100%;
 float:left;
 
}
.BOXHD {
   background-color:gray;
   width:100%;
   float:left;
}
.CHED {
    float:left;
    width:100px;

}
.ENT {
    float:left;
    width:150px;
    padding:3px;

}
.MATH {
    float:left;
    padding-left:5px;
    padding-right:5px;
}
.MID {
    float:left;
}

.E {
    float:left;
    padding-left:5px;
    padding-right:5px;
    font-weight:bold;
    float:inherit;

}
.P {
    padding:5px;
    padding-left:10px;
    float:left;
    width:100%;
}

.FR {
    float:left;
}

.FP {
    float:left;
}