{% extends "base.html" %}
{% block title %}{{ r.get_name }}: {{ r.title }}{% endblock %}
{% block extrahead %}
<script>
$(document).ready(function(){
  $('#top-information').mouseleave(function() {
    $('#top-information').hide();
  });
});
</script>
<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/resources.css?v=1" />
{% endblock %}

{% block right_panel_add  %}
<div id="references_external" style="width:100%;">
  <h3>Related resources:</h3>
  {% block related_resources %}

  {% if r.sections %}
  <div class="panel_item left"> <a class="res pointer" onclick="toggle_sections();">USC Sections</a></div>
  <div id="sections_block" class="panel_item res_info2" >
    <ul>
      <!--<li><a href="{{ r.main_section.get_absolute_url }}">{{ r.main_section }}</a></li>-->
      {% for s in r.sections.all %}
      <li>
	<a href="{{ s.get_absolute_url }}">{{ s }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}


  {% endblock %}
  <div class="panel_item left"> <a class="res pointer" onclick="toggle_comments();">Comments ({{ comments|length }})</a></div>
  <div id="comments_block" class="panel_item res_info2" >
    {% include "comment/comments.html" %}
    {% include "comment/add_comment.html" %}
  </div>
</div>

<div class="additional_content">
  <span id="tags" style="font-size:16px; font-weight:bold;">Tags:</span>
  {% include "tags/tags_list.html" %}
  {% include "tags/add_tag.html" %}
</div>

{% if not r.is_outdated %}
<div class="additional_content" id="flag_as_outdated">
  {% if user.is_authenticated %}
  {% if outdated_by_user %}
  You marked this document as outdated<br />
  {% else %}
  <a class="pointer vote" onclick="flag_as_outdated({{ r.id }}, {{ content_type.id }});">Flag as outdated</a>
  {% endif %}
  {% endif %}
  {% if outdated %}
  <br />
  <span style="color:red; font-weight:bold;">{{ outdated }} users already mark this document as outdated.</span>
  {% endif %}
</div>
{% endif %}

{% endblock %}


{% block content %}

  {% block sub_title %}
  {% endblock %}

  {% if r.is_outdated  %}
  <div class="outdated width100 big22 left">This document is outdated</div>
  {% endif %}
 
    <div class="small" id="top-information" class="pointer">
      <b>Document information:</b><br />
      {% if r.current_through %}Current Through: <b>{{ r.current_through }}</b><br />{% endif %}
      Last checked: <b>{{ r.last_update }}</b><br />
      {% if r.revision_date %}
      Revision Date: <b>{{ r.revision_date }}</b><br />
      {% endif %}
      {% if r.external_publication_date %}
      <span title="Note: this date ">Posted date: <b>{{ r.external_publication_date }}</b><br /></span>
      {% endif %}

      {% if r.shortlink %}Source: <a target="_blank" title="{{ r.link }}" href="{{ r.shortlink }}">{{ r.shortlink }}</a>{% else %}
      {% if r.link %}Source: <a target="_blank" title="{{ r.link }}" href="{{ r.link }}">{{ r.link }}</a>
      {% endif %}
      {% endif %}
      <br />
    </div>
    <div style="float:right; margin-top:10px;">
       {% if r.document %}
       <img title="Preview PDF document" alt="Preview" onclick="$('#pdf_preview').toggle(); $('#main_text').toggle();" style="cursor:pointer;" src="{{ STATIC_URL }}img/preview.png" width="20px;" /> &nbsp;&nbsp;
	<a title="Download document" target="_blank" href="{{ MEDIA_URL }}{{ r.document }}"><img alt="Download" src="{{ STATIC_URL }}img/download.png" /></a>&nbsp;&nbsp;
      {% endif %}
      <img alt="Help" style="cursor:help;" src="{{ STATIC_URL }}img/question.png" onmouseover="$('#top-information').show('slow');" />
    </div>

    {% if r.document %}
    <div id="pdf_preview" style="width:950px; display:none; z-index: 19000; position:absolute; top:40px; background-color:#E3EBF3; padding:10px; border:1px solid gray;">
      <div id="pdf_panel" style="width:950px; height:40px;"><b>{{ r.title }} - {{ r.product_number }}</b>
	<div style="float:right; cursor:pointer;" onclick="$('#pdf_preview').toggle(); $('#main_text').toggle();"><img alt="Close" src="{{ STATIC_URL }}img/close.png" width="30px;"/></div>
      </div>
      <iframe width="950px;" height="900px;" src="http://docs.google.com/viewer?url={{ MEDIA_URL }}{{ r.document }}"></iframe>
    </div>
    {% endif %}
    
    {% block main_text %}
    <div id="main_text" style="padding:5px; float:left; ">
      {% block document_body_title %}<h2{% if r.description %} title={{ r.description }}{% endif %}>{{ r|safe }}</h2>{% endblock %}
      {% block document_body %}
      {% autoescape off %}
      {{ r.text }}
      {{ r.store.text }}
      {% endautoescape %}
      {% endblock %}
    </div>
    {% endblock %}

    <div class="small" id="information" style="float:left;">
      <b>Document information:</b><br />
      {% if r.current_through %}Current Through: <b>{{ r.current_through }}</b><br />{% endif %}
      Last checked: <b>{{ r.last_update }}</b><br />
      {% if r.revision_date %}
      Revision Date: <b>{{ r.revision_date }}</b><br />
      {% endif %}
      {% if r.external_publication_date %}
      Posted date: <b>{{ r.external_publication_date }}</b><br />
      {% endif %}

      {% if r.shortlink %}Source: <a target="_blank" title="{{ r.link }}" href="{{ r.shortlink }}">{{ r.shortlink }}</a>{% else %}
      {% if r.link %}Source: <a target="_blank" title="{{ r.link }}" href="{{ r.link }}">{{ r.link }}</a>
      {% endif %}
      {% endif %}
    </div>


{% endblock %}
