{% extends "base_2.html" %}
{% block content %}


<div class="center">

{% if not link_sended and not password_restore and not password_changed %}
  <div style="padding-top:20px; font-size:30px;">Reset password:</div>
  <div id="login">
    <form method="post" action="/users/password-reset/">
    {% csrf_token %}
    <p>To reset your password, please enter the email address with which you registered.  </p>
    <div class="error">{{ form.email.errors }} {{ error }}</div>
    <p>Email:<br />
    {{ form.email }}</p>
    <input type="submit" value="Reset password" class="text login_btn find_btn" />
    </form>
  </div>
{% endif %}

{% if link_sended %}
  <div style="padding-top:20px; font-size:30px;">We send you an email with a link to reset your password.</div>
{% endif %}

{% if password_changed %}
  <div style="padding-top:20px; font-size:30px;">Password was changed. You can now login using your new password.</div>
{% endif %}

{% if password_restore %}
  <div style="padding-top:20px; font-size:30px;">Enter new password:</div>
  <div id="login">
    <form method="post" action="/users/password-reset/">
    {% csrf_token %}
    <div class="error">{{ form.password.errors }} {{ error }}</div>
    <p>Password:<br />
    {{ form.password }}</p>

    <div class="error">{{ form.rpassword.errors }}</div>
    <p>Repeat password:<br />
    {{ form.rpassword }}</p>
    {{ form.link_hash }}
    <input type="submit" value="Change password" class="text login_btn find_btn" />
    </form>
  </div>

{% endif %}


</div>
{% endblock %}
{% block search %}
{% endblock %}
