{% extends "base.html" %}
{% block content %}


<div class="center">

{% if not password_changed %}
  <div style="padding-top:20px; font-size:30px;">Change password:</div>
  <div id="login">
    <form method="post" action="">
    {% csrf_token %}

    <div class="error">{{ form.oldpassword.errors }} </div>
    <p>Current Password:<br />
    {{ form.oldpassword }}</p>

    <div class="error">{{ form.password.errors }} {{ error }}</div>
    <p>New Password:<br />
    {{ form.password }}</p>

    <div class="error">{{ form.rpassword.errors }} </div>
    <p>Repeat New Password:<br />
    {{ form.rpassword }}</p>

    <input type="submit" value="Change password" class="text login_btn find_btn" />
    </form>
  </div>
{% endif %}

{% if link_sended %}
  <div style="padding-top:20px; font-size:30px;">We send you an email with a link to reset your password.</div>
{% endif %}

{% if password_changed %}
  <div style="padding-top:20px; font-size:30px;">Password was changed. You can now login using your new password.</div>
{% endif %}

</div>
{% endblock %}
{% block search %}
{% endblock %}
